p {
    margin-left: 50px;
}
.first_box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #38b000;
    margin-left: 75px;
    background: var(--color-grafik);
    box-shadow: 0.5px 0.15rem 2rem #38b000;
}
.second_box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #38b000;
    margin-left: 75px;
    background: var(--color-grafik);
    box-shadow: 0.5px 0.15rem 2rem #38b000;
}
.thirth_box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #38b000;
    margin-left: 75px;
    background: var(--color-grafik);
    box-shadow: 0.5px 0.15rem 2rem #38b000;
}
.fourth_box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #38b000;
    margin-left: 75px;
    background: var(--color-grafik);
    box-shadow: 0.5px 0.15rem 2rem #38b000;
}
.fifth_box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #38b000;
    margin-left: 75px;
    background: var(--color-grafik);
    box-shadow: 0.5px 0.15rem 2rem #38b000;
}
.sixth_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #38b000;
    margin-left: 75px;
    background: var(--color-grafik);
    box-shadow: 0.5px 0.15rem 2rem #38b000;
}
.box-2{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
}
.activity-card{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
}
.chart{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
}

#myChart_1{
    width: 300px;
    height: 300px;
    align-items: center;
}
#myChart_2{
    width: 300px;
    height: 300px;
    align-items: center;
}
#myChart_3{
    width: 300px;
    height: 300px;
    align-items: center;
}
#myChart_4{
    width: 300px;
    height: 300px;
    align-items: center;
}
#myChart_5{
    width: 300px;
    height: 300px;
    align-items: center;
}