@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --color-background:#f3f3f3;
    --color-grafik: #f3f3f3;
    --color-sidebar:linear-gradient(#008000,#38b000);
    --color-gradient-dark: rgba(0,0,0,0.25);
    --color-button: linear-gradient(200deg,#008000,#38b000);
  }


body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
}
.menu_bar_tutucu li {
    margin-bottom: 1.7rem;
    padding: 12px;
    align-items: center;
    cursor: pointer;
  }
  .menu_bar_tutucu li:hover{
      background: var(--color-sidebar);
  }
  
  .menu_bar_tutucu a {
    color: #ffffff;
    font-size: 0.9rem;
  }
li { 
    border-radius: 2px;
    border: 0.25em 3rem white;
    box-shadow: 0.5px 0.5px 5px rgb(255, 255, 255)
}
li > a{
    margin-bottom:20px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none; 
} 
/* table {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
tr {
    border: 1px solid black;
    background-color: #9ef01a;
} */
p{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: var(--color-button);
}

/* Anaysayfa Bigileri */ 
.anasayfa_main_container {
	display: flex;
	flex-direction: row;
	background-color: #cdcdcd;
}
.menu_bar_tutucu {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    background-color:#38b000;
    width: 60%;
   
}
.logo {
    display: flex;
    flex-direction: column;
    width: 197px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    border-bottom: 0.2px solid black;
    /*border-bottom: 4px white solid;*/
}
.logo_foto {
    width: 180px;
    margin-left: 15px;
    height: 70px;
}

 .content_container {
    display: flex;
    flex-direction: column;
    background-color:white;

}
.ust_bar {
    display: flex;
    height: 140px;
    width: 1312px;
    background-color: #38b000;
   /* border-left:5px white solid;*/
}

.gunluk_bilgi_kutusu {
    display: flex;
    flex-direction: column;
    background-color:#fcfafa ;
    margin: 5px;
    width:1310px;
    height: 230px;
    
}

.gunluk_bilgiler {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #f0f0f5;
}

#tarih {
    height: 120px;
    width: 250px;
    background-color: #cdcdcd;
    margin-left: 95px;
    margin-top: 15px;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    border-radius: 15px;
}
#saat {
    height: 120px;
    width: 250px;
    background-color: #cdcdcd;
    margin-left: 45px;
    margin-top: 15px;
    margin-right:45px;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    border-radius: 15px;
}

#kesimdeki_urun {
    height: 120px;
    width: 250px;
    background-color: #cdcdcd;
    margin-top: 15px;
    margin-right: 45px;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    border-radius: 15px;
   
}

#bekleyen_siparis {
    height: 120px;
    width: 250px;
    background-color: #cdcdcd;
    margin-top: 15px;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    border-radius: 15px;
}

.genel_bilgi_container {
    display: flex;
    flex-direction: row;
    width: 1310px;
    height: 100%;
    margin: 5px;
    background-color: #ffffff;
    align-items: center;
}
.genel_bilgi_container_2 {
    display: flex;
    flex-direction: row;
    width: 1310px;
    height: 100%;
    margin: 5px;
    border-top:0.5px solid#38b000;
    background-color: #ffffff;
    align-items: center;
}

.first_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-left: 75px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;

}
.second_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px; 
    margin-left: 50px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
}
.thirth_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-left: 50px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
}
.fourth_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-left: 75px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
}
.fifth_box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-left: 50px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
}
/* Sign İn Sayfası Bilgileri */ 
.main_container_sign{
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .signin_container {
    display: flex;
    flex-direction: column;
    background-color: #38b000;
    align-items: center;
    width: 100%;
    height: 50%;
}
.login_container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 393px;
    align-items: center;
    padding-top: 350px;
    background-color: #008000;
    
}

.signin_form {
    align-items: center;   
    
}
.login_yazisi{
    font-size: 25px;
	font-weight: bold;
	font-family: Times New Roman;
    color: white;
}
.kayit_ol_yazisi{
    font-size: 15px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
    color: white;
}
.kayit_ol {
    font-size: 15px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
}
.form_button {
background-color: white;
border-radius: 0px;
height: 40px;
width: 80px;
margin-right: 25px;
box-shadow: none;
}
/* Sipariş.php Kodları*/
.genel_bilgi_container_siparis {
    display: flex;
    flex-direction: row;
    width: 1310px;
    height: 100%;
    margin: 5px;
    background-color: #f0f0f5;
    align-items: center;
}
 #first_box_siparis {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 450px;
    border-radius: 15px;
    margin-left: 75px;
    margin-bottom: 75px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    overflow-x: none;
    overflow-y: none; 

}
.second_box_siparis {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    margin-left: 75px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    align-items: center;

}

/*Kesimhane.php Kodları */
#kesimhane_first_box {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 450px;
    border-radius: 15px;
    margin-left: 30px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;
    padding: 20px;

}
#kesimhane_second_box {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 450px;
    border-radius: 15px;
    margin-left: 175px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;

}
/*Makina Dikim Kodları*/
.genel_bilgi_container_makina_1 {
    display: flex;
    flex-direction: row;
    width: 1310px;
    height: 100%;
    margin: 5px;
    background-color: #f0f0f5;
    align-items: center;
}
.first_box_makina {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 350px;
    border-radius: 15px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;

}
.makina_second_box {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 350px;
    border-radius: 15px;
    margin-left: 15px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;

}
/*Kalite Kontrol Kodları*/
.genel_bilgi_container_kalite {
    display: flex;
    flex-direction: row;
    width: 1310px;
    height: 100%;
    margin: 5px;
    background-color: #f0f0f5;
    align-items: center;
}
.first_box_kalite {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 450px;
    border-radius: 15px;
    margin-left: 100px;
    background-color: #cdcdcd;
    box-shadow: 0.5px 0.15rem 0.25rem #000;

}
.dropdown { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    
}
.ilgili_siparis {
    padding: 5px;
}
/*Performans Kodları*/
